
   
   {% extends 'base.html' %} {% block content %}
   <link rel="stylesheet" href="{{ url_for('static',filename='css/landing.css') }}">
   <section class="landing">
        <div class="container">
            <div class="landing-content">
                <div class="landing-text">
                    <h1>EduCodeGenius</h1>
                    <p>
                        "منصتنا هي حلاً تكنولوجيًا مبتكرًا للتعليم عبر الإنترنت. نقدم أكوادًا مخصصة للمحاضرات التعليمية على منصات متعددة، حيث تتيح للمدرسين والمتعلمين إنشاء ومشاركة محتوى تعليمي متقدم بسهولة. بفضل تقنياتنا الذكية، يمكنك تخصيص الأكواد وإدراجها في منصاتك التعليمية المفضلة بسرعة ودقة. انضم إلى مجتمع التعليم الرقمي واستفد من سهولة الوصول إلى المعرفة."            </p>
                    {% if session.username %}
                    <a href="/createcode" class="landing-login">أنشئ الاكواد</a>
                    {% else %}
                    <a href="/login" class="landing-login">سجل الان</a>
                    {% endif %}
                </div>
                <div class="landing-img">
                    <img src="{{ url_for('static',filename='images/Privacy policy-rafiki.svg') }}" alt="logo">
                </div>
            </div>
        </div>
    </section>

    {% endblock %}